@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$font: "Indie Flower", cursive;
$font2: "Open Sans", sans-serif;

$blue: #5A95B6;
$yellow: #EFD67F;
$dark: #1E1E1E;