:root {
  --blue: #5A95B6;
  --dark: #1E1E1E;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, var(--blue), var(--dark));
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif; 
  padding: 0;
  margin: 0;
}